*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movieRow{
    margin-bottom: 30px;
}

.movieRow h2{
    margin-left: 30px;
    margin-bottom: 10px;
}

.movieRow_listArea{
    overflow: hidden;
}
.movieRow_list{
    transition: .5s;
}
.movieRow_item{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow_item img{
    width: 100%;
    transform: scale(0.9);
    transition: all ease .2s;
}

.movieRow_item img:hover{
    transform: scale(1);
}

.movieRowLeft,
.movieRowRight{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
}

.movieRow:hover .movieRowLeft,
.movieRow:hover .movieRowRight{
    opacity: 1;
}

.movieRowLeft{
    left: 0;
}
.movieRowRight{
    right: 0;
}

@media (max-width:760px) {
    .movieRowLeft,
    .movieRowRight{opacity: 1;}
}