@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.lists{
    margin-top: -100px;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.loading img{
    width: 500px;
}